$columns: 12;

@each $breakpoint in $breakpoints {

	$suffix: #{nth($breakpoint, 1)};

	@media (min-width: nth(nth($breakpoint, 2), 1)) {
	
		@for $i from 0 through $columns {

			@if ($i == 0) {

				.col-#{$suffix}-pull-#{$i} {
					right: auto;
				}

				.col-#{$suffix}-push-#{$i} {
					left: auto;
				}
				
			} @else {

				.col-#{$suffix}-#{$i} {
					float: left;
					position: relative;
					min-height: 1px;
					width: $i / $columns * 100%;
				}

				.col-#{$suffix}-pull-#{$i} {
					right: $i / $columns * 100%;
				}

				.col-#{$suffix}-push-#{$i} {
					left: $i / $columns * 100%;
				}
			}
			
			.col-#{$suffix}-offset-#{$i} {
				margin-left: $i / $columns * 100%;
			}
		}
	}
}