// Formats
$formats : "xs" "sm" "df" "lg";

// Colors
$color-types : "primary" "secondary" "success" "info" "warning" "error";

$primary-color : #000000;
$primary-color-light : #000000;
$primary-color-dark : #000000;

$secondary-color : #000000;

$success-color : #000000;
$info-color : #000000;
$warning-color : #000000;
$error-color : #000000;

$colors : ("primary": $primary-color, "secondary": $success-color, "success": $success-color, "info": $info-color, "warning": $warning-color, "error": $error-color);

@function color($color) {

	@return map-get($colors, $color);
}

$gray-darker : lighten(#000000, 13.5%);
$gray-dark : lighten(#000000, 20%);
$gray : lighten(#000000, 33.5%);
$gray-light : lighten(#000000, 50%);
$gray-lighter : lighten(#000000, 90%);

$primary-background : #FFFFFF;
$secondary-background : #000000;

// Paddings

$padding-xs-vertical : 0;
$padding-xs-horizontal : 0;
$padding-sm-vertical : 0;
$padding-sm-horizontal : 0;
$padding-df-vertical : 0;
$padding-df-horizontal : 0;
$padding-lg-vertical : 0;
$padding-lg-horizontal : 0;

$padding-xs : ("v": $padding-xs-vertical, "h": $padding-xs-horizontal);
$padding-sm : ("v": $padding-sm-vertical, "h": $padding-sm-horizontal);
$padding-df : ("v": $padding-df-vertical, "h": $padding-df-horizontal);
$padding-lg : ("v": $padding-lg-vertical, "h": $padding-lg-horizontal);

$paddings : ("xs": $padding-xs, "sm": $padding-sm, "df": $padding-df, "lg": $padding-lg);

@function padding($format, $dir) {

	@return map-get(map-get($paddings, $format), $dir);
}

// Border radiuses

$border-radius-xs : 0;
$border-radius-sm : 0;
$border-radius-df : 0;
$border-radius-lg : 0;

$border-radiuses : ("xs": $border-radius-xs, "sm": $border-radius-sm, "df": $border-radius-df, "lg": $border-radius-lg);

@function border-radius($format) {

	@return map-get($border-radiuses, $format);
}

// Border sizes

$border-size-xs : 0;
$border-size-sm : 0;
$border-size-df : 0;
$border-size-lg : 0;

$border-sizes : ("xs": $border-size-xs, "sm": $border-size-sm, "df": $border-size-df, "lg": $border-size-lg);

@function border-size($format) {

	@return map-get($border-sizes, $format);
}

// Font sizes

$font-size-xs : 0;
$font-size-sm : 0;
$font-size-df : 0;
$font-size-lg : 0;

$font-sizes : ("xs": $font-size-xs, "sm": $font-size-sm, "df": $font-size-df, "lg": $font-size-lg);

@function font-size($format) {

	@return map-get($font-sizes, $format);
}

// Responsive

$breakpoint-xs : (0px 767px);
$breakpoint-sm : (768px 991px);
$breakpoint-md : (992px 1199px);
$breakpoint-lg : (1200px none);

$breakpoints : ("xs" $breakpoint-xs) ("sm" $breakpoint-sm) ("md" $breakpoint-md) ("lg" $breakpoint-lg);

// Transition durations

$transition-time-short : 0;
$transition-time : 0;
$transition-time-middle : 0;
$transition-time-long : 0;