# Dependencies
src/scss/mixins/bourbon

# App
dist/assets/css/**/*.css
dist/assets/img/**/*.*
dist/assets/js/**/*.js
dist/**/*.html

# If using only SCSS
src/css/**/*.css
# If only using CSS
    #src/scss/**/*.scss
# If using both
    #src/css/app.css

# If using only Jade
src/html/**/*.html
# If only using HTML
    #src/jade/**/*.jade
# If using both