# Dependencies
src/scss/vendors/bourbon

# App
build/css/**/*.css
build/img/**/*.*
build/js/**/*.js
build/html/**/*.html

# If only using SCSS
src/css/**/*.css
# If only using CSS
    #src/scss/**/*.scss

# If only using Pug
src/html/**/*.html
# If only using HTML
    #src/pug/**/*.pug
