include ../mixins/_mixins.pug
block vars

doctype html

html
    head
        // Meta Settings
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        block meta

        // CSS
        block style
            +style("//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
            +style("assets/css/min.css")

        block title
    body
        #container
            block container

        block script